body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: center;
}
h1{
    font-size: 50px;
}
.first-part{
    background-image: url(./images/donation4.jpg);
    color: white;
    background-repeat: no-repeat;
    background-position: cover;
    width: 1440px;
    height: 669px;
    background-size: 100%;
}
.head{
    padding: 15%;
}
.button{
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    padding: 12px 12px;
    border-radius: 5px;
}
.donation-button{
    background-color: #d2d6d6;
    border: none;
    color: #5b5a5a;
    padding: 32px 32px;
    text-decoration: none;
    margin: 25px 3px;
    font-weight: 600;
}
footer{
    color: white;
    background-color: black;
    background-size: cover;
    text-align: center;
}
