body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: center;
}
h1{
    font-size: 50px;
}
.banner{
    background-image: url(./images/donation4.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: 100%;
}
.button{
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    padding: 12px 12px;
    border-radius: 5px;
}
.donation-button{
    background-color: #d2d6d6;
    border: none;
    color: #5b5a5a;
    padding: 32px 32px;
    text-decoration: none;
    margin: 25px 3px;
    font-weight: 600;
}
.donate-plan{

}

.plans{
    display: flex;
    margin-bottom: 20px;
    text-align: center;

}
.plans-decoration{
    width: 40%;
    padding-left: 10px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 10px 10px 40px gray;
    
}
.bonous-area{
    background-image: url(./images/donation9-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 70%;
    text-align: center;
    padding-left: 10%;
    margin: 10px;
}
footer{
    color: white;
    background-color: black;
    background-size: 5%;
    text-align: center;
}
